<%= form_with(model: [ @flight, @flight.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :question %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <button type="button" class="btn btn-outline-success"><%= form.submit %></button>
  </p>
<% end %>