<%= form_with(model: [ @flight, @flight.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :question %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Ask or Answer!" %>
  </p>
<% end %>