
<%= form_with model: @flight, local: true do |form| %>
 
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@flight.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @flight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :cost %><br>
    <%= form.number_field :cost, step: :any %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.number_field :duration, step: :any %>
  </p>

  <p>
    <%= form.label :capacity %><br>
    <%= form.number_field :capacity %>
  </p>

    <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>

  <div class="field">
	<%= form.label :flight_picture %>
	<%= form.file_field :flight_picture, accept: 'image.png, image.jpg, image.jpeg' %>
  </div>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>