<div class="index-head">
  
    <h1 class="center">All Flights</h1>
    <button type="button" class="add-button" style="color:white"> <%= link_to 'New Flight', new_flight_path %> </button>
</div>
<div class="bui">
<% for flight in @flights %>
        <div class="link row clearfix link-overview">
                <div>
                    <h2><%= link_to flight.title, flight_path(flight) %></h2>
                </div>
                <div class="show-img">
                  <tr>
                      <td><%= image_tag flight.flight_picture if flight.flight_picture.attached? %></td>
                  </tr>
                </div>
                <div>
                    <tr>
                        <td><%= flight.description %></td>
                    </tr>
                </div>
            <div>
                <h2><small class="seller">Created <%= time_ago_in_words(flight.created_at) %> ago</small></h2>
            </div>
        </div>
<% end %>
</div>