<h1>All Flights</h1>

<%= link_to 'New Flight', new_flight_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @flights.each do |flight| %>
    <tr>
        <td><%= flight.title %></td>
        <td><%= flight.description %></td>
        <td><%= link_to 'Show', flight_path(flight) %></td> 
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td> 
        <%# <td><%= link_to 'Delete', flight_path(flight), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    </tr>
  <% end %>
</table>