<div class="show-img">
  <tr>
      <td><%= image_tag @flight.flight_picture if @flight.flight_picture.attached? %></td>
  </tr>
</div>
<br>
  <h3><%= @flight.title %></h3>
  <br>
  <p>
  <strong>Cost:</strong>
  $<%= @flight.cost %>
  <br>
  <strong>Duration:</strong>
  <%= @flight.duration %> hour(s)
  <br>
  <strong>Capacity:</strong>
  <%= @flight.capacity %> people
  <br>
  <strong>Description:</strong>
  <%= @flight.description %>
</p>

<h3>Comments</h3>
<%= render @flight.comments %>


<h3>Add a comment:</h3>
<%= render 'comments/form' %>

<%= link_to 'Back', flights_path %>

<% if can? :manage, @flight %>
  <%= link_to 'Edit', edit_flight_path(@flight) %>
  <%= link_to 'Delete', flight_path(@flight), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>