<h2>This is your list of orders:</h2>

<h3>Order: #<%= current_user.orders %></h3> 

  <%# <%= @orders.id %>
  <%# <%= @orders.flight.id %>
  <%# <%= @orders.user.id%> 
<%= @orders %>

<%# <%= @orders.each do |order| %>
<%# <div> %>
	<%# <h3>Name: <%= order.flight.title %>
    <%# </h3> %> 
	<%# <h3>Cost: <%= order.flight.cost %>
    <%# </h3> %> 
<%# </div> %>
<%# <% end %> 

<%# <p>You ordered <%= @orders.flights.count %>
<%# Flights:</p>  %>
 

<%# <ul> %>
  <%# <% @orders.flights.each do |flight| %> 
  
    <%# <li><%= flight.title %>
     <%# - <%= number_to_currency flight.cost</li>  %>
  <%# <% end %> 
<%# </ul> %>

<br>
<%= link_to 'Back', flights_path %>