<h3>Current Cart</h3>

<% @carts.each do |cart| %>
  <%= cart.flight.title %>
  $<%= cart.flight.cost %>
  <br>  
<% end %>

<br>
<br>

<%= link_to 'Keep Shopping', flights_path,  class: "btn btn-success btn-lg my-2" %> 

<button data-stripe="payment">Checkout <%= number_to_currency(@total) %></button>

<script src="https://js.stripe.com/v3/"></script>
<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>