<h3>Current Cart</h3>

<%# <% @cart.each do |item| %>
<%# <%= item.flight.title %> %>
<%# <%= item.flight.cost %> %>
<br>
<%# <% end %> %> %>

<button data-stripe="payment">Buy flight <%= number_to_currency(@cart.sum) %></button>

<script src="https://js.stripe.com/v3/"></script>


<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>