<!DOCTYPE html>
<html>
  <head>
    <title>UberFlights</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
          <%# <%= link_to flights_path do %> 
              <%# <%= image_tag "uber_flights_logo.png" %> 
          <%# <% end %> 

        <% if user_signed_in? %>
          <p>Hello, <%= "#{current_user.name}!" %> </p>
        <%# </div> %>
          <div class="right">
          <%= link_to 'ðŸ› Shopping Cart ðŸ›', carts_path %>
          <%= link_to 'New', new_flight_path %>
          <%= link_to 'Flights', flights_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>

        <% else %>
          <%# <%= link_to "Sign In", new_user_session_path %>
          <%# <%= link_to "Sign Up", new_user_registration_path %> 
          </div>
        </div>
        <% end %>
      </nav>
    </header>
    
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  
    <%= yield %>
  </body>
</html>
